/node_modules
**/node_modules
/bin
/obj
.DS_Store
*.user
*.suo

.fake
src/Server/AgnosticReservation.Api/bin/*
src/Server/AgnosticReservation.Application/bin/*
src/Server/AgnosticReservation.Domain/bin/*
src/Server/AgnosticReservation.Infrastructre/bin/*